.main {
	// position: relative;
	min-height: 100vh;
	padding: 30px 20px;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: var(--background);
	background: linear-gradient(
		130deg, 
		var(--basic-300-fade) 0%, 
		var(--background) 22%, 
		var(--background) 77%, 
		var(--second-accent-fade) 100%
	);

	// &::before, &::after {
	// 	content: "";
	// 	position: absolute;
	// 	width: 30%;
	// 	height: 30%;
	// 	filter: blur(40px);
	// }

	// &::before {
	// 	top: 40%;
	// 	left: 0;
	// 	background-color: var(--background-accent);
	// }

	// &::after {
	// 	bottom: 0;
	// 	right: 0;
	// 	background-color: var(--second-accent-fade);
	// }
}