.todo {
	position: relative;
	overflow: hidden;

	&::before, &::after {
		content: "";
		position: absolute;
		width: 30%;
		filter: blur(60px);
	}

	&::before {
		height: 20%;
		bottom: 10%;
		left: 0;
		background-color: var(--second-accent-fade);
	}

	&::after {
		height: 40%;
		top: 40%;
		right: 0;
		background-color: var(--background-accent);
	}
}

.todo__wrapper {
	padding: 20px;
}

.todo__title {
	margin-bottom: 30px;
}

.todo__description {
	position: relative;

	&::after {
		position: absolute;
		content: "";
		bottom: -10px;
		left: 0;
		right: 0;
		height: 1px;
		border-radius: 2px;
		background-color: var(--decor-color);
	}
}