*, *::before, *::after {
	box-sizing: border-box;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.body {
  min-width: 320px;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  font-family: $font-light;
  font-weight: 300;
  font-size: 14px;
  line-height: 20px;
  color: var(--text);

	&--transition,
	&--transition *,
	&--transition &::before,
	&--transition &::after {
		transition: 
			background 0.3s,
			box-shadow 0.3s,
			border-color 0.3s,
			mask-image 0.3s;
	}
}

.title {
	position: relative;
	font-family: $font-bold;
	font-size: 24px;
	line-height: 30px;
	color: var(--text-700);

	&::after {
		position: absolute;
		content: "";
		bottom: -10px;
		left: 0;
		right: 0;
		height: 1px;
		border-radius: 2px;
		background-color: var(--decor-color);
	}
}

.subtitle {
	font-family: $font-bold;
	font-size: 16px;
	line-height: 18px;
	color: var(--accent);
}

.transition {
	transition: all 0.5s;
}